@import url('https://fonts.googleapis.com/css2?family=Lucida&family=monospace&family=Lucida&family=Courier&family=Times,wght@0,400;0,700;1,400&display=swap');

body {
    background-color : #e9dbdb;
    }
    header {
    background-color : rgb(20, 30, 13, 0.7);
    }
    header {
    display : flex;
    flex-direction : column;
    align-items : center;
    }
    header {
    display : flex;
    align-items : baseline;
    }
    .home-title {
        font-family: Lucida, Courier, Times;
        font-size: 2em;
        margin-top: 10px;
    }
    .logo img {
    height : 50px;
    width : 80px;
    padding-top: 5px;
    }
    nav ul {
    display : flex;
    list-style : none;
    margin : 0;
    padding : 0;
    }
    #Lets make the max-width {
    max-width : 1600px;
    margin : 0 auto;
    text-align : center;
    }
    #hero-img {
        width: 100%;
    }
#content {
    width : 80%;
    margin : 0 auto;
    max-width : 1600px;
    margin-top : 0;
    margin-bottom : 0;
    margin-left : auto;
    margin-right : auto;
    }
    #hero-msg h1, #hero-msg h4 {
    text-align : center;
    font-weight: bolder;
    color: #000000;
    }
    h1, h2, h3, h4, h5 {
        font-family: monospace; 
    }

    p {
        font-family: var(--paragraph-font);
        color: var(--paragraph-color-on-white);
        padding: 1em;
        font-family: Lucida, Courier, Times;
    }
    
    .home-title {
        font-family: Lucida, Courier, Times;
        font-size: 2em;
        margin-top: 10px;
    }
    .msg {
        background-color: #6f7364;
        line-height: 1.5em;
    }

    .hero-box {
    text-align : center;
    margin : 0 auto;
    max-width : 1600px;
    }
    .button-box {
    text-align : center;
    }
    
main section {
    text-align : center;
    }
    div {
    margin : 0 auto;
    }
    .rivers-card {
        margin: 200px 0;
    }
    .camping-card {
        margin: 200px 0;
    }
    .rapids-card {
        margin: 200px 0;
    }

    .book, .join {
        background-color: #e6c69d;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    } 
    .card-img {
        border: 10px solid #f0e088;
    }
    main section img {
        box-sizing: border-box;
        box-shadow: #e69898;
    }
    
    #background {
    height : 725px;
    }
    .icon {
    width : 80px;
    }
    nav a {
    text-align : center;
    color : #fcfbfb;
    text-decoration : none;
    padding: 35px;
    }
#body {
    max-width : 1600px;
    margin : 0 auto;
    text-align : center;
    font-size: 22px;
    }
body {
    background-color: #fcfbfb;
    font-family: Lucida, Arial, Sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#footer p a:hover {
    text-decoration : underline;
    }
footer {
    background-color : rgba(255, 246, 196, 0.7);
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    }
#contact {
    display : flex;
    align-items : start;
    justify-content : flex-end;
    }
#contact-icons {
    display : flex;
    justify-content : flex-end;
    text-align : left;
    }